bind_addr = "0.0.0.0" # the default

datacenter = "dc1"


server {
  enabled          = true
  bootstrap_expect = 1
}

acl {
  enabled = {{ acl_enabled | lower}}
}

{% if advertise_addr != "" %}
advertise {
    http = "{{ advertise_addr }}"
    rpc = "{{ advertise_addr }}"
    serf = "{{ advertise_addr }}"
}
{% endif %}

{% if tls_crt_dest != "" %}
tls {
  http = true
  cert_file = "{{ tls_crt_dest }}"
  key_file = "{{ tls_key_dest }}"
}
{% endif %}


vault {
  enabled = true
  default_identity {
    aud = ["vault.io"]
    ttl = "1h"
  }
}