bind_addr = "::" 

datacenter = "dc1"


server {
  enabled          = true
  bootstrap_expect = 1
}

acl {
  enabled = true
}

advertise {
  http = {{'"{{ GetPublicInterfaces | include `type` `IPv6` | limit 1 | attr `address` }}"'}}
  rpc  = {{'"{{ GetPublicInterfaces | include `type` `IPv6` | limit 1 | attr `address` }}"'}}
  serf = {{'"{{ GetPublicInterfaces | include `type` `IPv6` | limit 1 | attr `address` }}"'}}
}


{% if tls_key_dest != "" %}

tls {
  http = true
  cert_file = "{{ tls_crt_dest }}"
  key_file = "{{ tls_key_dest }}"
}

{% endif %}

vault {
  enabled = true
  default_identity {
    aud = ["vault.io"]
    ttl = "1h"
  }
}